export SLACK_HOOK_URL=""
# It's important that the following env var is formatted exactly as follows!
export SLACK_USER_IDS="<@U1>, <@U2>"

# backend_urls
export EATERY_BACKEND_URL=""
export TRANSIT_BACKEND_URL=""
